* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.sticky-header {
  max-width: 1440px;
  height: 48px;
  background-color: green;
  border: 1px solid black;
  position: sticky;
}

.sticky-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-banner {
  display: flex;
  justify-self: center;
  align-items: center;
  background-color: pink;
  height: 250px;
}

.headline-container {
  margin-left: 24px;
}

.featured-post {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

.featured-text-container {
  margin-left: 24px;
}

.featured-post-container {
  flex-basis: 40%;
  border: 2px solid black;
  border-radius: 5px;
}

.featured-post-image-container {
  width: 448px;
  height: 280px;
  border-bottom: 1px solid black;
}

.featured-post-headline {
  margin: 8px;
}

.featured-post-short-description {
  margin: 8px;
  font-size: 16px;
  width: 100%;
}

.main-content {
  display: grid;
  grid-template-columns: 4;
}