* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.sticky-header {
  max-width: 1440px;
  height: 48px;
  background-color: green;
  border: 1px solid black;
  position: sticky;
}

.sticky-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-banner {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: pink;
  height: 250px;
}

.headline-container {
  margin-left: 24px;
}

.featured-post {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  margin-top: 64px;
}

.featured-text-container {
  margin-left: 24px;
}

.featured-post-container {
  height: 300px;
  width: 450px;
  border: 2px solid black;
  border-radius: 5px;
  filter: drop-shadow(0.5rem 0.5rem 1rem #FF0000);
}
