* {
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

.hero-banner {
    height: 693px;
    max-width: 1440px;
    background-image: url(/uploads/images/herobanner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* .hero-image {
    height: fit-content;
    width: 100%;
}
 */
.navigation {
    height: 48px;
    width: 100%;
    background-color: black;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: center;
    max-width: 1220px;
    margin: 48px auto;
    gap: 48px;
}

.post-container {
    width: 315px;
    height: 260px;
}

.blog-posts {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 33.33%;
    height: 250px;
    background-position: center;
    background-image: url(/uploads/images/satellite.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* .date-container {
    margin-top: 200px;
}

.btn-container {
    margin-right: 20px;
} */

.blog-posts-image-container {
    margin: 0 auto;
    max-width: 100%;
    height: 220px;
}

.blog-post-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    padding: 4px;
    color: white;
    border-radius: 5px;
}

.blog-post-title>div {
    padding: 5px 10px;
    background: black;
    color: white;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.read-more {
    width: fit-content;
    /*     align-self: end;
    margin-right: 8px;
    margin-top: 8px; */
}

@media(max-width:1000px) {
    .blog-posts {
        min-width: 50%;
    }
}

@media(max-width:800px) {
    .blog-posts {
        min-width: 100%;
    }
}